Package: ssh-notify
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Depends: bash
Maintainer: Jean Prunneaux <jean@prunneaux.com>
Homepage: https://github.com/pruje/ssh-notify
Description: A tool for sending emails when
